<h1>Module 16 Project Template</h1>

Use the code below to help you analyze the data returned by the MBTA API:

In [5]:
mbtaURL = "https://api-v3.mbta.com/vehicles?filter[route]=1&include=trip"

import urllib.request, json
with urllib.request.urlopen(mbtaURL) as url:
    data = json.loads(url.read().decode())
   
    with open('data.json', 'w') as outfile:
        json.dump(data, outfile)
   
    with open('data.txt', 'w') as outfile:
        json.dump(json.dumps(data, indent=4, sort_keys=True), outfile)
       
    print(json.dumps(data, indent=4, sort_keys=True))

{
    "data": [
        {
            "attributes": {
                "bearing": 159,
                "carriages": [],
                "current_status": "STOPPED_AT",
                "current_stop_sequence": 12,
                "direction_id": 1,
                "label": "3286",
                "latitude": 42.3471398,
                "longitude": -71.08777466,
                "occupancy_status": "FEW_SEATS_AVAILABLE",
                "revenue": "REVENUE",
                "speed": null,
                "updated_at": "2024-07-25T12:39:07-04:00"
            },
            "id": "y3286",
            "links": {
                "self": "/vehicles/y3286"
            },
            "relationships": {
                "route": {
                    "data": {
                        "id": "1",
                        "type": "route"
                    }
                },
                "stop": {
                    "data": {
                        "id": "79",
                        "type": "stop"
                    }
                },
                "trip": {
                    "data": {
                        "id": "63071637",
                        "type": "trip"
                    }
                }
            },
            "type": "vehicle"
        },
        {
            "attributes": {
                "bearing": 225,
                "carriages": [],
                "current_status": "STOPPED_AT",
                "current_stop_sequence": 22,
                "direction_id": 1,
                "label": "3264",
                "latitude": 42.33216,
                "longitude": -71.08157,
                "occupancy_status": "FEW_SEATS_AVAILABLE",
                "revenue": "REVENUE",
                "speed": null,
                "updated_at": "2024-07-25T12:39:05-04:00"
            },
            "id": "y3264",
            "links": {
                "self": "/vehicles/y3264"
            },
            "relationships": {
                "route": {
                    "data": {
                        "id": "1",
                        "type": "route"
                    }
                },
                "stop": {
                    "data": {
                        "id": "62",
                        "type": "stop"
                    }
                },
                "trip": {
                    "data": {
                        "id": "63075563",
                        "type": "trip"
                    }
                }
            },
            "type": "vehicle"
        },
        {
            "attributes": {
                "bearing": 313,
                "carriages": [],
                "current_status": "STOPPED_AT",
                "current_stop_sequence": 17,
                "direction_id": 0,
                "label": "3263",
                "latitude": 42.36281624,
                "longitude": -71.09927202,
                "occupancy_status": "FEW_SEATS_AVAILABLE",
                "revenue": "REVENUE",
                "speed": null,
                "updated_at": "2024-07-25T12:39:08-04:00"
            },
            "id": "y3263",
            "links": {
                "self": "/vehicles/y3263"
            },
            "relationships": {
                "route": {
                    "data": {
                        "id": "1",
                        "type": "route"
                    }
                },
                "stop": {
                    "data": {
                        "id": "101",
                        "type": "stop"
                    }
                },
                "trip": {
                    "data": {
                        "id": "63075153",
                        "type": "trip"
                    }
                }
            },
            "type": "vehicle"
        },
        {
            "attributes": {
                "bearing": 308,
                "carriages": [],
                "current_status": "IN_TRANSIT_TO",
                "current_stop_sequence": 17,
                "direction_id": 0,
                "label": "3237",
                "latitude": 42.36164577,
                "longitude": -71.09744084,
                "occupancy_status": "MANY_SEATS_AVAILABLE",
                "revenue": "REVENUE",
                "speed": null,
                "updated_at": "2024-07-25T12:39:07-04:00"
            },
            "id": "y3237",
            "links": {
                "self": "/vehicles/y3237"
            },
            "relationships": {
                "route": {
                    "data": {
                        "id": "1",
                        "type": "route"
                    }
                },
                "stop": {
                    "data": {
                        "id": "101",
                        "type": "stop"
                    }
                },
                "trip": {
                    "data": {
                        "id": "63075155",
                        "type": "trip"
                    }
                }
            },
            "type": "vehicle"
        },
        {
            "attributes": {
                "bearing": 10,
                "carriages": [],
                "current_status": "STOPPED_AT",
                "current_stop_sequence": 17,
                "direction_id": 0,
                "label": "3204",
                "latitude": 42.362782959,
                "longitude": -71.09941899,
                "occupancy_status": "FEW_SEATS_AVAILABLE",
                "revenue": "REVENUE",
                "speed": null,
                "updated_at": "2024-07-25T12:39:08-04:00"
            },
            "id": "y3204",
            "links": {
                "self": "/vehicles/y3204"
            },
            "relationships": {
                "route": {
                    "data": {
                        "id": "1",
                        "type": "route"
                    }
                },
                "stop": {
                    "data": {
                        "id": "101",
                        "type": "stop"
                    }
                },
                "trip": {
                    "data": {
                        "id": "63075151",
                        "type": "trip"
                    }
                }
            },
            "type": "vehicle"
        },
        {
            "attributes": {
                "bearing": 164,
                "carriages": [],
                "current_status": "STOPPED_AT",
                "current_stop_sequence": 12,
                "direction_id": 1,
                "label": "3202",
                "latitude": 42.34690245,
                "longitude": -71.08764827,
                "occupancy_status": "MANY_SEATS_AVAILABLE",
                "revenue": "REVENUE",
                "speed": null,
                "updated_at": "2024-07-25T12:39:07-04:00"
            },
            "id": "y3202",
            "links": {
                "self": "/vehicles/y3202"
            },
            "relationships": {
                "route": {
                    "data": {
                        "id": "1",
                        "type": "route"
                    }
                },
                "stop": {
                    "data": {
                        "id": "79",
                        "type": "stop"
                    }
                },
                "trip": {
                    "data": {
                        "id": "63075561",
                        "type": "trip"
                    }
                }
            },
            "type": "vehicle"
        },
        {
            "attributes": {
                "bearing": 140,
                "carriages": [],
                "current_status": "IN_TRANSIT_TO",
                "current_stop_sequence": 10,
                "direction_id": 1,
                "label": "1834",
                "latitude": 42.35949263,
                "longitude": -71.09403106,
                "occupancy_status": "FEW_SEATS_AVAILABLE",
                "revenue": "REVENUE",
                "speed": null,
                "updated_at": "2024-07-25T12:39:10-04:00"
            },
            "id": "y1834",
            "links": {
                "self": "/vehicles/y1834"
            },
            "relationships": {
                "route": {
                    "data": {
                        "id": "1",
                        "type": "route"
                    }
                },
                "stop": {
                    "data": {
                        "id": "75",
                        "type": "stop"
                    }
                },
                "trip": {
                    "data": {
                        "id": "63075559",
                        "type": "trip"
                    }
                }
            },
            "type": "vehicle"
        }
    ],
    "included": [
        {
            "attributes": {
                "bikes_allowed": 1,
                "block_id": "C01-3",
                "direction_id": 1,
                "headsign": "Nubian",
                "name": "",
                "revenue": "REVENUE",
                "wheelchair_accessible": 1
            },
            "id": "63071637",
            "links": {
                "self": "/trips/63071637"
            },
            "relationships": {
                "route": {
                    "data": {
                        "id": "1",
                        "type": "route"
                    }
                },
                "route_pattern": {
                    "data": {
                        "id": "1-_-1",
                        "type": "route_pattern"
                    }
                },
                "service": {
                    "data": {
                        "id": "BUS32024-hbc34ns1-Weekday-02",
                        "type": "service"
                    }
                },
                "shape": {
                    "data": {
                        "id": "010129",
                        "type": "shape"
                    }
                }
            },
            "type": "trip"
        },
        {
            "attributes": {
                "bikes_allowed": 1,
                "block_id": "A01-6",
                "direction_id": 0,
                "headsign": "Harvard",
                "name": "",
                "revenue": "REVENUE",
                "wheelchair_accessible": 1
            },
            "id": "63075151",
            "links": {
                "self": "/trips/63075151"
            },
            "relationships": {
                "route": {
                    "data": {
                        "id": "1",
                        "type": "route"
                    }
                },
                "route_pattern": {
                    "data": {
                        "id": "1-_-0",
                        "type": "route_pattern"
                    }
                },
                "service": {
                    "data": {
                        "id": "BUS32024-hba34ns1-Weekday-02",
                        "type": "service"
                    }
                },
                "shape": {
                    "data": {
                        "id": "010128",
                        "type": "shape"
                    }
                }
            },
            "type": "trip"
        },
        {
            "attributes": {
                "bikes_allowed": 1,
                "block_id": "A01-7",
                "direction_id": 0,
                "headsign": "Harvard",
                "name": "",
                "revenue": "REVENUE",
                "wheelchair_accessible": 1
            },
            "id": "63075153",
            "links": {
                "self": "/trips/63075153"
            },
            "relationships": {
                "route": {
                    "data": {
                        "id": "1",
                        "type": "route"
                    }
                },
                "route_pattern": {
                    "data": {
                        "id": "1-_-0",
                        "type": "route_pattern"
                    }
                },
                "service": {
                    "data": {
                        "id": "BUS32024-hba34ns1-Weekday-02",
                        "type": "service"
                    }
                },
                "shape": {
                    "data": {
                        "id": "010128",
                        "type": "shape"
                    }
                }
            },
            "type": "trip"
        },
        {
            "attributes": {
                "bikes_allowed": 1,
                "block_id": "A01-8",
                "direction_id": 0,
                "headsign": "Harvard",
                "name": "",
                "revenue": "REVENUE",
                "wheelchair_accessible": 1
            },
            "id": "63075155",
            "links": {
                "self": "/trips/63075155"
            },
            "relationships": {
                "route": {
                    "data": {
                        "id": "1",
                        "type": "route"
                    }
                },
                "route_pattern": {
                    "data": {
                        "id": "1-_-0",
                        "type": "route_pattern"
                    }
                },
                "service": {
                    "data": {
                        "id": "BUS32024-hba34ns1-Weekday-02",
                        "type": "service"
                    }
                },
                "shape": {
                    "data": {
                        "id": "010128",
                        "type": "shape"
                    }
                }
            },
            "type": "trip"
        },
        {
            "attributes": {
                "bikes_allowed": 1,
                "block_id": "A01-2",
                "direction_id": 1,
                "headsign": "Nubian",
                "name": "",
                "revenue": "REVENUE",
                "wheelchair_accessible": 1
            },
            "id": "63075559",
            "links": {
                "self": "/trips/63075559"
            },
            "relationships": {
                "route": {
                    "data": {
                        "id": "1",
                        "type": "route"
                    }
                },
                "route_pattern": {
                    "data": {
                        "id": "1-_-1",
                        "type": "route_pattern"
                    }
                },
                "service": {
                    "data": {
                        "id": "BUS32024-hba34ns1-Weekday-02",
                        "type": "service"
                    }
                },
                "shape": {
                    "data": {
                        "id": "010129",
                        "type": "shape"
                    }
                }
            },
            "type": "trip"
        },
        {
            "attributes": {
                "bikes_allowed": 1,
                "block_id": "A01-5",
                "direction_id": 1,
                "headsign": "Nubian",
                "name": "",
                "revenue": "REVENUE",
                "wheelchair_accessible": 1
            },
            "id": "63075561",
            "links": {
                "self": "/trips/63075561"
            },
            "relationships": {
                "route": {
                    "data": {
                        "id": "1",
                        "type": "route"
                    }
                },
                "route_pattern": {
                    "data": {
                        "id": "1-_-1",
                        "type": "route_pattern"
                    }
                },
                "service": {
                    "data": {
                        "id": "BUS32024-hba34ns1-Weekday-02",
                        "type": "service"
                    }
                },
                "shape": {
                    "data": {
                        "id": "010129",
                        "type": "shape"
                    }
                }
            },
            "type": "trip"
        },
        {
            "attributes": {
                "bikes_allowed": 1,
                "block_id": "A01-1",
                "direction_id": 1,
                "headsign": "Nubian",
                "name": "",
                "revenue": "REVENUE",
                "wheelchair_accessible": 1
            },
            "id": "63075563",
            "links": {
                "self": "/trips/63075563"
            },
            "relationships": {
                "route": {
                    "data": {
                        "id": "1",
                        "type": "route"
                    }
                },
                "route_pattern": {
                    "data": {
                        "id": "1-_-1",
                        "type": "route_pattern"
                    }
                },
                "service": {
                    "data": {
                        "id": "BUS32024-hba34ns1-Weekday-02",
                        "type": "service"
                    }
                },
                "shape": {
                    "data": {
                        "id": "010129",
                        "type": "shape"
                    }
                }
            },
            "type": "trip"
        }
    ],
    "jsonapi": {
        "version": "1.0"
    }
}

Use the code below to read the data from your MySQL database and store it in a pandas dataframe.  

You you need to install pymysql to run the code:

pip install pymysql

In [24]:
import os
import pymysql
import pandas as pd

host = '127.0.0.1'
port = 3307
user = 'root'
password = 'MyNewPass'
database = 'MBTAdb'

conn = pymysql.connect(
    host=host,
    port=port,
    user=user,
    passwd=password,
    db=database,
    charset='utf8mb4')

df = pd.read_sql_query("SELECT * FROM mbta_buses", conn)
df['updated_at'] = df['updated_at'].dt.tz_localize('UTC').dt.tz_convert('US/Eastern')
df
# df.tail(10)

C:\Users\andre\AppData\Local\Temp\ipykernel_15044\307650361.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("SELECT * FROM mbta_buses", conn)

,record_num,id,latitude,longitude,occupancy_status,current_status,bikes_allowed,headsign,bearing,current_stop_sequence,updated_at
0,1,y3286,42.357787,-71.092832,FEW_SEATS_AVAILABLE,IN_TRANSIT_TO,1,Harvard,337.0,15,2024-07-25 11:56:49-04:00
1,2,y3277,42.332967,-71.074216,FEW_SEATS_AVAILABLE,IN_TRANSIT_TO,1,Nubian,220.0,20,2024-07-25 11:56:51-04:00
2,3,y3272,42.366047,-71.104891,FULL,IN_TRANSIT_TO,1,Nubian,239.0,7,2024-07-25 11:56:44-04:00
3,4,y3264,42.370270,-71.113339,FEW_SEATS_AVAILABLE,STOPPED_AT,1,Nubian,108.0,3,2024-07-25 11:56:47-04:00
4,5,y3263,42.332940,-71.074170,MANY_SEATS_AVAILABLE,IN_TRANSIT_TO,1,Nubian,225.0,20,2024-07-25 11:56:50-04:00
...,...,...,...,...,...,...,...,...,...,...,...
2788,2789,y3263,42.337563,-71.078514,FEW_SEATS_AVAILABLE,IN_TRANSIT_TO,1,Nubian,143.0,17,2024-07-25 13:20:02-04:00
2789,2790,y3237,42.340967,-71.082338,MANY_SEATS_AVAILABLE,IN_TRANSIT_TO,1,Nubian,0.0,16,2024-07-25 13:20:03-04:00
2790,2791,y3204,42.338022,-71.078916,MANY_SEATS_AVAILABLE,IN_TRANSIT_TO,1,Nubian,136.0,17,2024-07-25 13:20:04-04:00
2791,2792,y3202,42.341679,-71.083210,MANY_SEATS_AVAILABLE,STOPPED_AT,1,Harvard,0.0,10,2024-07-25 13:20:02-04:00
2792,2793,y1834,42.342118,-71.083882,MANY_SEATS_AVAILABLE,STOPPED_AT,1,Harvard,307.0,11,2024-07-25 13:20:00-04:00


The code below saves the data as a csv file to the local directory as a backup.

In [20]:

df.to_csv('mbta.csv')

<h1>What is the average time it takes for a bus to complete the route</h1>

In [27]:
import numpy as np

min_stop_sequence = df['current_stop_sequence'].min()
print(min_stop_sequence)

max_stop_sequence = df['current_stop_sequence'].max()
print(max_stop_sequence)

bus_id = 'y3286'
bus_df = df[df['id'] == bus_id]

1
24
*********Example bus_df:        record_num     id   latitude  longitude     occupancy_status  \
0              1  y3286  42.357787 -71.092832  FEW_SEATS_AVAILABLE
8              9  y3286  42.357787 -71.092832  FEW_SEATS_AVAILABLE
16            17  y3286  42.358155 -71.092978  FEW_SEATS_AVAILABLE
24            25  y3286  42.358475 -71.092762  FEW_SEATS_AVAILABLE
32            33  y3286  42.358300 -71.093002  FEW_SEATS_AVAILABLE
...          ...    ...        ...        ...                  ...
2758        2759  y3286  42.341546 -71.083006  FEW_SEATS_AVAILABLE
2765        2766  y3286  42.341546 -71.083006  FEW_SEATS_AVAILABLE
2772        2773  y3286  42.341565 -71.083056  FEW_SEATS_AVAILABLE
2779        2780  y3286  42.341710 -71.083237  FEW_SEATS_AVAILABLE
2786        2787  y3286  42.341730 -71.083234  FEW_SEATS_AVAILABLE

     current_status  bikes_allowed headsign  bearing  current_stop_sequence  \
0     IN_TRANSIT_TO              1  Harvard    337.0                     15
8     IN_TRANSIT_TO              1  Harvard    337.0                     15
16    IN_TRANSIT_TO              1  Harvard    332.0                     15
24    IN_TRANSIT_TO              1  Harvard     70.0                     15
32    IN_TRANSIT_TO              1  Harvard    276.0                     15
...             ...            ...      ...      ...                    ...
2758     STOPPED_AT              1  Harvard      0.0                     10
2765     STOPPED_AT              1  Harvard      0.0                     10
2772     STOPPED_AT              1  Harvard    308.0                     10
2779     STOPPED_AT              1  Harvard      0.0                     10
2786     STOPPED_AT              1  Harvard      0.0                     10

                    updated_at
0    2024-07-25 11:56:49-04:00
8    2024-07-25 11:56:49-04:00
16   2024-07-25 11:56:56-04:00
24   2024-07-25 11:57:08-04:00
32   2024-07-25 11:57:18-04:00
...                        ...
2758 2024-07-25 13:19:21-04:00
2765 2024-07-25 13:19:21-04:00
2772 2024-07-25 13:19:42-04:00
2779 2024-07-25 13:19:54-04:00
2786 2024-07-25 13:19:59-04:00

[376 rows x 11 columns]

<h1>Provide a Visualization based on the data</h1>

<h1>Give an estimate of the speed of the bus from current_stop_sequence = 1 to the last  current_stop_sequence. </h1> 

Note: You can use the haversine Python library to calculate the distance between two points, given two longitude and latitude coordinates.