<h1>Module 16 Project Template</h1>

Use the code below to help you analyze the data returned by the MBTA API:

In [1]:
mbtaURL = "https://api-v3.mbta.com/vehicles?filter[route]=1&include=trip"

import urllib.request, json
with urllib.request.urlopen(mbtaURL) as url:
    data = json.loads(url.read().decode())
   
    with open('data.json', 'w') as outfile:
        json.dump(data, outfile)
   
    with open('data.txt', 'w') as outfile:
        json.dump(json.dumps(data, indent=4, sort_keys=True), outfile)
       
    print(json.dumps(data, indent=4, sort_keys=True))

{
    "data": [
        {
            "attributes": {
                "bearing": 135,
                "carriages": [],
                "current_status": "STOPPED_AT",
                "current_stop_sequence": 9,
                "direction_id": 1,
                "label": "1895",
                "latitude": 42.36054,
                "longitude": -71.09557,
                "occupancy_status": "MANY_SEATS_AVAILABLE",
                "revenue": "REVENUE",
                "speed": null,
                "updated_at": "2024-07-24T22:10:11-04:00"
            },
            "id": "y1895",
            "links": {
                "self": "/vehicles/y1895"
            },
            "relationships": {
                "route": {
                    "data": {
                        "id": "1",
                        "type": "route"
                    }
                },
                "stop": {
                    "data": {
                        "id": "74",
                        "type": "stop"
                    }
                },
                "trip": {
                    "data": {
                        "id": "63071685",
                        "type": "trip"
                    }
                }
            },
            "type": "vehicle"
        },
        {
            "attributes": {
                "bearing": 135,
                "carriages": [],
                "current_status": "IN_TRANSIT_TO",
                "current_stop_sequence": 13,
                "direction_id": 1,
                "label": "1894",
                "latitude": 42.34704,
                "longitude": -71.08774,
                "occupancy_status": "MANY_SEATS_AVAILABLE",
                "revenue": "REVENUE",
                "speed": null,
                "updated_at": "2024-07-24T22:10:12-04:00"
            },
            "id": "y1894",
            "links": {
                "self": "/vehicles/y1894"
            },
            "relationships": {
                "route": {
                    "data": {
                        "id": "1",
                        "type": "route"
                    }
                },
                "stop": {
                    "data": {
                        "id": "80",
                        "type": "stop"
                    }
                },
                "trip": {
                    "data": {
                        "id": "63071684",
                        "type": "trip"
                    }
                }
            },
            "type": "vehicle"
        },
        {
            "attributes": {
                "bearing": 0,
                "carriages": [],
                "current_status": "STOPPED_AT",
                "current_stop_sequence": 15,
                "direction_id": 0,
                "label": "1830",
                "latitude": 42.35950604,
                "longitude": -71.09377134,
                "occupancy_status": "MANY_SEATS_AVAILABLE",
                "revenue": "REVENUE",
                "speed": null,
                "updated_at": "2024-07-24T22:10:11-04:00"
            },
            "id": "y1830",
            "links": {
                "self": "/vehicles/y1830"
            },
            "relationships": {
                "route": {
                    "data": {
                        "id": "1",
                        "type": "route"
                    }
                },
                "stop": {
                    "data": {
                        "id": "97",
                        "type": "stop"
                    }
                },
                "trip": {
                    "data": {
                        "id": "63071323",
                        "type": "trip"
                    }
                }
            },
            "type": "vehicle"
        },
        {
            "attributes": {
                "bearing": 0,
                "carriages": [],
                "current_status": "STOPPED_AT",
                "current_stop_sequence": 15,
                "direction_id": 1,
                "label": "1771",
                "latitude": 42.34151038,
                "longitude": -71.083288699,
                "occupancy_status": "MANY_SEATS_AVAILABLE",
                "revenue": "REVENUE",
                "speed": null,
                "updated_at": "2024-07-24T22:10:15-04:00"
            },
            "id": "y1771",
            "links": {
                "self": "/vehicles/y1771"
            },
            "relationships": {
                "route": {
                    "data": {
                        "id": "1",
                        "type": "route"
                    }
                },
                "stop": {
                    "data": {
                        "id": "187",
                        "type": "stop"
                    }
                },
                "trip": {
                    "data": {
                        "id": "63071683",
                        "type": "trip"
                    }
                }
            },
            "type": "vehicle"
        },
        {
            "attributes": {
                "bearing": 206,
                "carriages": [],
                "current_status": "IN_TRANSIT_TO",
                "current_stop_sequence": 2,
                "direction_id": 1,
                "label": "1765",
                "latitude": 42.37237574,
                "longitude": -71.11911204,
                "occupancy_status": "MANY_SEATS_AVAILABLE",
                "revenue": "REVENUE",
                "speed": null,
                "updated_at": "2024-07-24T22:10:15-04:00"
            },
            "id": "y1765",
            "links": {
                "self": "/vehicles/y1765"
            },
            "relationships": {
                "route": {
                    "data": {
                        "id": "1",
                        "type": "route"
                    }
                },
                "stop": {
                    "data": {
                        "id": "66",
                        "type": "stop"
                    }
                },
                "trip": {
                    "data": {
                        "id": "63071686",
                        "type": "trip"
                    }
                }
            },
            "type": "vehicle"
        },
        {
            "attributes": {
                "bearing": 315,
                "carriages": [],
                "current_status": "STOPPED_AT",
                "current_stop_sequence": 1,
                "direction_id": 1,
                "label": "1764",
                "latitude": 42.3658575,
                "longitude": -71.1044463,
                "occupancy_status": "MANY_SEATS_AVAILABLE",
                "revenue": "REVENUE",
                "speed": null,
                "updated_at": "2024-07-24T22:10:12-04:00"
            },
            "id": "y1764",
            "links": {
                "self": "/vehicles/y1764"
            },
            "relationships": {
                "route": {
                    "data": {
                        "id": "1",
                        "type": "route"
                    }
                },
                "stop": {
                    "data": {
                        "id": "110",
                        "type": "stop"
                    }
                },
                "trip": {
                    "data": {
                        "id": "63071688",
                        "type": "trip"
                    }
                }
            },
            "type": "vehicle"
        }
    ],
    "included": [
        {
            "attributes": {
                "bikes_allowed": 1,
                "block_id": "C553-376",
                "direction_id": 0,
                "headsign": "Harvard",
                "name": "",
                "revenue": "REVENUE",
                "wheelchair_accessible": 1
            },
            "id": "63071323",
            "links": {
                "self": "/trips/63071323"
            },
            "relationships": {
                "route": {
                    "data": {
                        "id": "1",
                        "type": "route"
                    }
                },
                "route_pattern": {
                    "data": {
                        "id": "1-_-0",
                        "type": "route_pattern"
                    }
                },
                "service": {
                    "data": {
                        "id": "BUS32024-hbc34ns1-Weekday-02",
                        "type": "service"
                    }
                },
                "shape": {
                    "data": {
                        "id": "010128",
                        "type": "shape"
                    }
                }
            },
            "type": "trip"
        },
        {
            "attributes": {
                "bikes_allowed": 1,
                "block_id": "C01-11",
                "direction_id": 1,
                "headsign": "Nubian",
                "name": "",
                "revenue": "REVENUE",
                "wheelchair_accessible": 1
            },
            "id": "63071683",
            "links": {
                "self": "/trips/63071683"
            },
            "relationships": {
                "route": {
                    "data": {
                        "id": "1",
                        "type": "route"
                    }
                },
                "route_pattern": {
                    "data": {
                        "id": "1-_-1",
                        "type": "route_pattern"
                    }
                },
                "service": {
                    "data": {
                        "id": "BUS32024-hbc34ns1-Weekday-02",
                        "type": "service"
                    }
                },
                "shape": {
                    "data": {
                        "id": "010129",
                        "type": "shape"
                    }
                }
            },
            "type": "trip"
        },
        {
            "attributes": {
                "bikes_allowed": 1,
                "block_id": "C01-12",
                "direction_id": 1,
                "headsign": "Nubian",
                "name": "",
                "revenue": "REVENUE",
                "wheelchair_accessible": 1
            },
            "id": "63071684",
            "links": {
                "self": "/trips/63071684"
            },
            "relationships": {
                "route": {
                    "data": {
                        "id": "1",
                        "type": "route"
                    }
                },
                "route_pattern": {
                    "data": {
                        "id": "1-_-1",
                        "type": "route_pattern"
                    }
                },
                "service": {
                    "data": {
                        "id": "BUS32024-hbc34ns1-Weekday-02",
                        "type": "service"
                    }
                },
                "shape": {
                    "data": {
                        "id": "010129",
                        "type": "shape"
                    }
                }
            },
            "type": "trip"
        },
        {
            "attributes": {
                "bikes_allowed": 1,
                "block_id": "C60-289",
                "direction_id": 1,
                "headsign": "Nubian",
                "name": "",
                "revenue": "REVENUE",
                "wheelchair_accessible": 1
            },
            "id": "63071685",
            "links": {
                "self": "/trips/63071685"
            },
            "relationships": {
                "route": {
                    "data": {
                        "id": "1",
                        "type": "route"
                    }
                },
                "route_pattern": {
                    "data": {
                        "id": "1-_-1",
                        "type": "route_pattern"
                    }
                },
                "service": {
                    "data": {
                        "id": "BUS32024-hbc34ns1-Weekday-02",
                        "type": "service"
                    }
                },
                "shape": {
                    "data": {
                        "id": "010129",
                        "type": "shape"
                    }
                }
            },
            "type": "trip"
        },
        {
            "attributes": {
                "bikes_allowed": 1,
                "block_id": "C09-63",
                "direction_id": 1,
                "headsign": "Nubian",
                "name": "",
                "revenue": "REVENUE",
                "wheelchair_accessible": 1
            },
            "id": "63071686",
            "links": {
                "self": "/trips/63071686"
            },
            "relationships": {
                "route": {
                    "data": {
                        "id": "1",
                        "type": "route"
                    }
                },
                "route_pattern": {
                    "data": {
                        "id": "1-_-1",
                        "type": "route_pattern"
                    }
                },
                "service": {
                    "data": {
                        "id": "BUS32024-hbc34ns1-Weekday-02",
                        "type": "service"
                    }
                },
                "shape": {
                    "data": {
                        "id": "010129",
                        "type": "shape"
                    }
                }
            },
            "type": "trip"
        },
        {
            "attributes": {
                "bikes_allowed": 1,
                "block_id": "C01-13",
                "direction_id": 1,
                "headsign": "Nubian",
                "name": "",
                "revenue": "REVENUE",
                "wheelchair_accessible": 1
            },
            "id": "63071688",
            "links": {
                "self": "/trips/63071688"
            },
            "relationships": {
                "route": {
                    "data": {
                        "id": "1",
                        "type": "route"
                    }
                },
                "route_pattern": {
                    "data": {
                        "id": "1-_-1",
                        "type": "route_pattern"
                    }
                },
                "service": {
                    "data": {
                        "id": "BUS32024-hbc34ns1-Weekday-02",
                        "type": "service"
                    }
                },
                "shape": {
                    "data": {
                        "id": "010129",
                        "type": "shape"
                    }
                }
            },
            "type": "trip"
        }
    ],
    "jsonapi": {
        "version": "1.0"
    }
}

Use the code below to read the data from your MySQL database and store it in a pandas dataframe.  

You you need to install pymysql to run the code:

pip install pymysql

In [2]:
import os
import pymysql
import pandas as pd

host = '127.0.0.1'
port = '3306'
user = 'root'
password = 'MyNewPass'
database = 'MBTAdb'

conn = pymysql.connect(
    host=host,
    port=int(3307),
    user="root",
    passwd=password,
    db=database,
    charset='utf8mb4')

df = pd.read_sql_query("SELECT * FROM mbta_buses",
    conn)

df.tail(10)

C:\Users\andre\AppData\Local\Temp\ipykernel_15044\1726480991.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("SELECT * FROM mbta_buses",

,record_num,id,latitude,longitude,occupancy_status,current_status,bikes_allowed,headsign,bearing,current_stop_sequence,updated_at
246,247,y3202,42.358043,-71.093014,MANY_SEATS_AVAILABLE,IN_TRANSIT_TO,1,Harvard,339.0,15,2024-07-25 16:01:47
247,248,y1834,42.362820,-71.099594,FEW_SEATS_AVAILABLE,STOPPED_AT,1,Harvard,0.0,17,2024-07-25 16:01:22
248,249,y3286,42.362760,-71.099250,FEW_SEATS_AVAILABLE,STOPPED_AT,1,Harvard,315.0,17,2024-07-25 16:01:46
249,250,y3277,42.331402,-71.082358,FEW_SEATS_AVAILABLE,IN_TRANSIT_TO,1,Nubian,0.0,23,2024-07-25 16:01:49
250,251,y3272,42.360029,-71.095158,FULL,IN_TRANSIT_TO,1,Nubian,147.0,10,2024-07-25 16:02:01
251,252,y3264,42.364930,-71.103140,FEW_SEATS_AVAILABLE,IN_TRANSIT_TO,1,Nubian,135.0,7,2024-07-25 16:02:01
252,253,y3263,42.330996,-71.082994,MANY_SEATS_AVAILABLE,STOPPED_AT,1,Nubian,0.0,23,2024-07-25 16:01:58
253,254,y3204,42.331107,-71.082591,MANY_SEATS_AVAILABLE,STOPPED_AT,1,Nubian,144.0,23,2024-07-25 16:02:01
254,255,y3202,42.358587,-71.093335,MANY_SEATS_AVAILABLE,IN_TRANSIT_TO,1,Harvard,334.0,15,2024-07-25 16:01:57
255,256,y1834,42.362880,-71.099420,FEW_SEATS_AVAILABLE,STOPPED_AT,1,Harvard,315.0,17,2024-07-25 16:01:54


The code below saves the data as a csv file to the local directory as a backup.

In [2]:

df.to_csv('mbta.csv')

<h1>What is the average time it takes for a bus to complete the route</h1>

<h1>Provide a Visualization based on the data</h1>

<h1>Give an estimate of the speed of the bus from current_stop_sequence = 1 to the last  current_stop_sequence. </h1> 

Note: You can use the haversine Python library to calculate the distance between two points, given two longitude and latitude coordinates.